@import url("./reset.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./footer.css");

:root{
  --bg: #000;
  --text: #fff;
  --muted: rgba(255,255,255,.75);

  --panel: rgba(0,0,0,.65);
  --panel-2: rgba(255,255,255,.08);
  --border: rgba(255,255,255,.25);
  --border-2: rgba(255,255,255,.45);

  --shadow: 0 20px 60px rgba(0,0,0,.55);
  --radius: 18px;

  --mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body {
  height: 100%;
}

body{
  font-family: var(--mono);
  background: var(--bg);
  color: var(--text);
  overflow-x: hidden;
}
